/* CSS Document 
Creation Date: 22 Oct, 2015
Description: A default stylesheet for BestProgrammingBooks.

------------ TABLE OF CONTENT ------------

- GENERAL
- HOME SLIDER
- HEADER
- TRAVEL INFO
- DAY ITINARARY
- GALLERY
- LINED UP TOURS
- TESTIMONIAL
- TIPS
- FOOTER & COYRIGHT
- OPERA HACK
- IE9 HACK
- TRANSITION CSS
- RESPONSIVE CSS

*/
/* +=+=+=+=+=+=+=+=+=+=+=+=+=+=+= \
----- GENERAL 
\ +=+=+=+=+=+=+=+=+=+=+=+=+=+=+= */
html, body, div, p, table, tr, td, th, tbody, tfoot, ul, li, ol, dl, dd, dt, fieldset, blockquote, cite, input, select, textarea, button, section, article, aside, header, footer, nav, span {
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 14px;
	color: #3c4251;
	font-weight: normal;
	line-height: 1.714em;
}
/*html {
	-webkit-font-smoothing: antialiased!important;
}*/
html, body {
	width: auto !important;
	overflow-x: hidden !important;
}
body {
	background-color: #fff;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto', serif;
	letter-spacing: -0.65px;
	text-transform: uppercase;
}
h4, h5, h6 {
	letter-spacing: 0;
}
h1 {
	font-size: 5.143em;
	font-weight: 900;
	margin-bottom: 0.65em;
	line-height: 0.85em;
}
h1 span {
	font-size: 1em;
	font-weight: 300;
	line-height: 1em;
}
.BGprime h1.text-center, .BGprime h1.text-center span, .BGprime h1.text-center small {
	color: #fff;
}
h1 small, h5 small {
	display: block;
	font-size: 0.35em;
	font-weight: 100;
	line-height: 1.35em;
	letter-spacing: 0;
	position: relative;
	text-transform: capitalize;
}
h1 small {
	margin-top: 1em;
	padding-top: 1em;
}
h1 small::before {
	position: absolute;
	content: '';
	width: 7em;
	height: 3px;
	top: 0;
	left: 0;
	display: block;
}
h1.text-center small::before {
	left: 50%;
	margin-left: -3.5em;
}
.BGprime h1.text-center small::before {
	background-color: #fff;
}
h2 {
	font-size: 2.143em;
	font-weight: 500;
	margin: 0;
	text-transform: capitalize;
}
h3 {
	font-size: 1.714em;
	font-weight: 400;
}
h4 {
	font-size: 1.50em;
	font-weight: 600;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	font-size: 1em;
}
h5 {
	font-size: 1.286em;
	font-weight: 600;
}
h5 small {
	text-transform: Capitalise;
	font-size: 0.65em;
	font-weight: 400;
	line-height: 1.65em;
}
h6 {
	font-size: 1em;
	font-weight: 600;
}
.white, .BGdark h1, .BGdark h1 small, .BGprime h1, .BGprime h1 small, .BGdark h1 span, .BGprime h1 span {
	color: #fff;
}
a {
	text-decoration: none;
}
a:hover, a:focus, a:visited {
	text-decoration: none;
}
:focus, :active {
	outline: none !important;
}
p {
	margin: 0.5em 0 1.5em;
}
.form-control {
	border-radius: 0;
	margin-bottom: 0.85em;
	font-size: 1em;
}
.required {
	color: #F30;
}
#contact input[type=submit] {
	display: block;
	font-family: 'FontAwesome', Roboto, Arial;
	margin: 1.5em auto;
}
span.error::after {
	position: absolute;
	left: 50%;
	top: 100%;
	content: '\f0d7';
	font-size: 2.35em;
	color: red;
	font-family: 'FontAwesome';
	line-height: 0;
	margin-left: -0.15em;
}
span.error {
	display: block;
	background-color: red;
	position: absolute;
	right: 0;
	bottom: 100%;
	font-size: 1em;
	color: #fff;
	padding: 0.30em 0.65em;
}
.clear {
	clear: both;
}
i {
	margin-right: 0.3em;
}
.btn {
	font-size: 1.15em;
	font-weight: 600;
	padding: 0.55em 1em;
	border: 0;
	border-radius: 0;
}
.btn:hover, .btn-primary, .btn-sec, .btn-dark, .btn:focus {
	color: #fff;
}
.btn-sm {
	font-size: 1em;
	padding: 0.35em 0.65em;
}
.btn-lg {
	font-size: 1.35em;
	text-transform: uppercase;
	padding: 0.65em 1em;
}
.btn i {
	margin: 0 0 0 0.35em;
}
ul.list-main {
	list-style-type: none;
	padding: 0;
	margin: 1.5em 0;
}
ul.list-main li {
	padding: 0 0 0 2.35em;
	margin-bottom: 0.65em;
	position: relative;
}
ul.list-main li:first-child {
	border: none;
}
ul.list-main li:before {
	display: block;
	content: "\f105";
	font-family: FontAwesome;
	font-size: 1em;
	position: absolute;
	left: 0;
	top: 0.15em;
	width: 1.65em;
	height: 1.65em;
	line-height: 1.65em;
	text-align: center;
}
a.top {
	display: none;
	color: #fff;
	text-align: center;
	padding: 0.8em 0.8em 1em 1.3em;
	-webkit-border-radius: 0.2em;
	-moz-border-radius: 0.2em;
	-ms-border-radius: 0.2em;
	border-radius: 0.2em;
	position: fixed;
	right: 1em;
	bottom: 1em;
	opacity: 0.8;
	z-index: 999;
}
a.top:hover {
	opacity: 1;
}
.page-block {
	position: relative;
	padding: 6.35em 0;
}
.page-block-small {
	position: relative;
	padding: 3.5em 0;
}
.page-block-large {
	padding: 8em 0;
}
.page-block-full {
	padding: 5em;
}
.abs {
	position: absolute;
	left: 0;
	bottom: 0;
	top: 0;
	right: 0;
	z-index: 99;
}
i.prime {
	font-style: normal;
}
hr.light {
	background-color: transparent;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	border-style: none none solid none;
	margin: 1.5em 0;
}
hr {
	border-color: rgba(0, 0, 0, 0.1);
}
/* Light box classes */
.pp_nav p {
	line-height: 1em;
}
.pp_social {
	margin-top: 0.5em;
	float: none;
}
.pp_social .facebook {
	min-width: 100px;
}
.modal-header h4 {
	color: #fff;
}
.modal-header {
	border-radius: 5px 5px 0 0;
}
.modal-body {
	padding: 1.65em;
	height: 300px;
	overflow: scroll;
}
.destination h1 {
	margin: 0 0 0.15em;
}
/* +=+=+=+=+=+=+=+=+=+=+=+=+=+=+= \
----- HOME SLIDER 
\ +=+=+=+=+=+=+=+=+=+=+=+=+=+=+= */
.texture {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: block;
	background: url(../images/pattern.png) repeat 0 0;
	z-index: 9;
}
#slides {
	position: relative;
}
#slides .slides-container {
	display: none;
}
#slides .scrollable {
 *zoom: 1;
	position: relative;
	top: 0;
	left: 0;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	height: 100%;
}
#slides .scrollable:after {
	content: "";
	display: table;
	clear: both;
}
.slides-navigation {
	margin: 0 auto;
	position: absolute;
	z-index: 3;
	top: 46%;
	width: 100%;
}
.slides-navigation a {
	position: absolute;
	display: block;
}
.slides-navigation a.prev {
	left: 0;
}
.slides-navigation a.next {
	right: 0;
}
.slides-pagination {
	display: none;
}
.carousel-control.left, .carousel-control.right {
	background-image: none;
	filter: none;
}
.carousel-fade .carousel-inner .item {
	transition-property: opacity;
}
.carousel-fade .carousel-inner .item, .carousel-fade .carousel-inner .active.left, .carousel-fade .carousel-inner .active.right {
	opacity: 0;
}
.carousel-fade .carousel-inner .active, .carousel-fade .carousel-inner .next.left, .carousel-fade .carousel-inner .prev.right {
	opacity: 1;
}
.carousel-fade .carousel-inner .next, .carousel-fade .carousel-inner .prev, .carousel-fade .carousel-inner .active.left, .carousel-fade .carousel-inner .active.right {
	left: 0;
	transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
	z-index: 2;
}
#image-slider .carousel-control.left {
	left: -3em;
}
#image-slider:hover .carousel-control.left {
	left: 0;
}
#image-slider .carousel-control.right {
	right: -3em;
}
#image-slider:hover .carousel-control.right {
	right: 0;
}
#image-slider a.carousel-control {
	display: block;
	visibility: hidden;
	top: 50%;
	margin-top: -0.85em;
	padding: 0.65em;
	z-index: 99;
	opacity: 1;
	width: 3em;
	height: 3.35em;
}
#image-slider a.carousel-control .svg path {
	fill: #fff;
}
#image-slider a.carousel-control .svg {
	width: 0.35em;
	height: auto;
	opacity: 1;
}
#image-slider.carousel:hover > a.carousel-control {
	visibility: visible;
}
#image-slider a.carousel-control i {
	color: #fff;
	margin: 0;
}
#image-slider.carousel .item .carousel-image {
	display: block;
	max-height: 45em;
	overflow: hidden;
}
#image-slider.carousel .item img {
	width: 100%;
	height: auto;
}
#image-slider .carousel-caption {
	position: absolute;
	left: 0;
	bottom: 25%;
	text-align: left;
	width: 100%;
}
#image-slider .carousel-caption h3 {
	display: inline-block;
	font-weight: 700;
	padding: 0.6em 1em;
	color: #fff;
	text-shadow: none;
	font-size: 2em;
	text-align: left;
	margin-left: 25.250em;
	margin-top: 0;
	letter-spacing: 1px;
}
#image-slider .item:first-child .carousel-caption h3 {
	margin-left: 0;
}
#image-slider .carousel-caption h6 {
	display: inline-block;
	font-size: 1.15em;
	font-weight: 300;
	line-height: 1.5em;
	background: rgba(0, 0, 0, 0.7);
	padding: 1em 2em;
	color: #fff;
	margin-left: -25.250em;
	margin-top: 0;
	max-width: 50em;
	text-transform: none;
}
#image-slider .item:first-child .carousel-caption h6 {
	margin-left: 0;
}
/* Counter Box & Subscribe */
.info-box {
	left: 0;
	bottom: 15%;
	top: auto;
	right: 0;
	z-index: 99;
}
.counter {
	background-color: #fff;
	padding-left: 0;
	padding-right: 0;
}
.counter .date {
	position: relative;
	float: left;
	color: #fff;
	text-align: center;
	padding: 1em;
	width: 25%;
}
.counter .date::after {
	position: absolute;
	top: 50%;
	left: 98%;
	content: '\f0da';
	font-family: 'FontAwesome';
	font-size: 2.35em;
	margin-top: -0.35em;
}
.counter .date strong {
	display: block;
	font-size: 1.35em;
	line-height: 1em;
}
.counter h4 {
	color: #fff;
	line-height: 1em;
	margin: 0;
}
#timer {
	display: block;
	float: left;
	width: 75%;
	text-align: center;
}
#timer div {
	display: inline-block;
	position: relative;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	width: 19%;
	padding-top: 1.65em;
}
#timer div::before {
	position: absolute;
	right: 100%;
	content: '\f111';
	font-family: 'FontAwesome';
	font-size: 8px;
	top: 55%;
}
#timer div:first-child::before {
	content: '';
}
#timer div span {
	display: block;
	font-size: 2.35em;
	font-weight: 300;
	line-height: 1.35em;
}
/* OPTION */
.info-box.option {
	position: relative;
	background: url(../images/shadow.png) no-repeat center bottom;
}
.info-box.option.color .counter #timer div, .info-box.option.color .counter #timer div span {
	color: #fff;
}
.subscribe {
	position: relative;
	padding-right: 0;
}
.input {
	display: block;
	position: relative;
}
.subscribe .left {
	display: block;
	width: 68%;
	float: left;
	padding: 0.60em;
}
.subscribe .right {
	display: block;
	position: relative;
	width: 30%;
	height: 7.15em;
	float: right;
}
.subscribe .input input {
	margin: 0;
}
.subscribe form .input {
	width: 48%;
	float: left;
	margin: 1%;
}
.subscribe .right .btn {
	background-color: transparent;
	color: #fff;
	text-transform: uppercase;
}
.subscribe .input.full {
	width: 98%;
}
.subscribe .submit::before {
	position: absolute;
	right: 98%;
	content: '\f0d9';
	font-family: 'FontAwesome';
	font-size: 2.65em;
	margin-top: -0.43em;
	top: 55%;
	z-index: 99;
}
/* +=+=+=+=+=+=+=+=+=+=+=+=+=+=+= \
----- HEADER 
\ +=+=+=+=+=+=+=+=+=+=+=+=+=+=+= */
header {
	width: 100%;
	z-index: 999;
	background-color: #fff;
	-webkit-box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.15);
	box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.15);
}
#slides header {
	position: absolute;
	left: 0;
	bottom: 0;
}
.rightnav {
	padding-right: 0;
}
header .logo a {
	display: block;
}
header .logo a img {
	display: inline-block;
	filter: none;
	-webkit-filter: blur(0px);
	-moz-filter: blur(0px);
	-ms-filter: blur(0px);
 filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='0');
}
#slides header.affix {
	position: fixed;
	top: 0;
	bottom: auto;
}
.nav .fa-home {
	font-size: 1.85em;
	vertical-align: middle;
}
.navbar-default {
	background-color: transparent;
	border: none;
}
.navbar-nav {
	width: 100%;
	text-align: right;
	font-size: 0;
}
.navbar-nav ul {
	-webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
}
.navbar-nav li {
	display: inline-block;
	position: relative;
	float: none;
}
.navbar-default .navbar-nav > li > a {
	font-size: 1em;
	text-transform: uppercase;
	font-weight: normal;
	text-decoration: none;
	padding: 0 1.15em;
	text-align: center;
	line-height: 5.65em;
	vertical-align: central;
}
.navbar-default .navbar-nav > li:hover > a, .navbar-default .navbar-nav > li.active > a {
	color: #fff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > li > a:focus {
	background-color: transparent;
}
.navbar {
	min-height: 0.35em;
	margin: 0;
}
.navbar-default .navbar-toggle {
	margin: 0;
	border: none;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: transparent;
}
.navbar-default .navbar-nav > li.home.active a {
	background-color: transparent;
}
/* +=+=+=+=+=+=+=+=+=+=+=+=+=+=+= \
----- TRAVEL INFO 
\ +=+=+=+=+=+=+=+=+=+=+=+=+=+=+= */
#travelInfo {
	background: url(../images/blurr1.jpg);
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	position: relative;
}
#travelInfo.BGdark, #travelInfo.BGprime {
	background-image: none;
}
#travelInfo .item h2 {
	font-size: 2.85em;
	font-weight: 300;
	letter-spacing: -1px;
}
#travelInfo .item .item-info .info p {
	font-size: 12px;
}
.threeD {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	text-align: center;
}
.threeD .img-responsive {
	margin: 0 auto;
}
.owl-carousel .item {
	position: relative;
	background-color: #fff;
	cursor: url(../images/cursor.png), move;
	margin: 1em;
	-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
}
.owl-carousel .item .item-header {
	padding: 0.55em 1.5em 0.55em 6.55em;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.owl-carousel .item .item-header i {
	position: absolute;
	left: 0;
	top: 0;
	font-size: 2.35em;
	color: #fff;
	width: 2.35em;
	height: 2.35em;
	line-height: 2.35em;
	text-align: center;
}
.owl-carousel .item .item-info {
	overflow: hidden;
}
.owl-carousel .item .item-info h6 {
	margin: 0.85em 0 1.55em;
}
.owl-carousel .item .item-info div > strong {
	display: block;
}
.owl-carousel .item .item-info h2 {
	font-size: 2.35em;
	margin-bottom: 0.35em;
}
.owl-carousel .item .item-info div > strong {
	font-size: 1.15em;
	margin-top: 0.65em;
}
.owl-carousel .item .item-info div.left {
	display: block;
	position: relative;
	float: left;
	width: 45%;
	font-size: 12px;
	line-height: 1.35em;
}
.owl-carousel .item .item-info div.right {
	display: block;
	position: relative;
	float: right;
	width: 45%;
	font-size: 12px;
	line-height: 1.35em;
	text-align: right;
}
.owl-carousel .item .item-info .svg {
	margin-top: 1.35em;
}
.owl-carousel .item .item-info .departure {
	border-bottom: 1px dashed rgba(0, 0, 0, 0.3);
	padding: 1.35em 1.85em 1.85em;
	border-bottom-width: 1.5px;
}
.owl-carousel .item .item-info .img-responsive {
	display: block;
}
.owl-carousel .item .item-info .arrival, .owl-carousel .item .item-info .info {
	display: block;
	padding: 1.35em 1.85em 1.85em;
}
.owl-carousel .item .item-info .info i {
	font-size: 1.65em;
	vertical-align: middle;
}
.owl-carousel .item .item-info .info p {
	font-weight: 12px;
	line-height: 1.65em;
}
.owl-theme .owl-controls .owl-buttons div {
	display: inline-block;
	background-color: rgba(255, 255, 255, 0.7);
	border-radius: 50%;
	-webkit-border-radius: 50%;
	font-size: 1.35em;
	line-height: 1.55em;
	padding: 0.55em;
	margin-top: 1.5em;
}
.owl-theme .owl-controls .owl-buttons div .svg {
	width: 1.65em;
	height: 1.65em;
	vertical-align: middle;
}
.owl-theme .owl-controls .owl-buttons div .svg path {
	fill: #fff;
}
/* +=+=+=+=+=+=+=+=+=+=+=+=+=+=+= \
----- DAY ITINARARY 
\ +=+=+=+=+=+=+=+=+=+=+=+=+=+=+= */
.itinarary {
	position: relative;
	overflow: hidden;
	padding-top: 6em;
	padding-bottom: 6em;
	margin-top: 6em;
}
.opt .itinarary {
	padding-top: 0;
	margin-top: 0;
	padding-bottom: 2.65em;
}
#itinarary2.dark .day .right.placeInfo h2, #itinarary2.dark .day .left.placeInfo h2, #itinarary2.dark .day .right.placeInfo span, #itinarary2.dark .day .left.placeInfo span, #itinarary2.dark .day .right.placeInfo li h6, #itinarary2.dark .day .left.placeInfo li h6 {
	color: #fff;
}
#itinarary2.dark .day .right.placeInfo p, #itinarary2.dark .day .left.placeInfo p, #itinarary2.dark .day .right.placeInfo li, #itinarary2.dark .day .left.placeInfo li {
	color: rgba(255, 255, 255, 0.7);
}
#itinarary2.dark .day .right.placeInfo li, #itinarary2.dark .day .left.placeInfo li {
	border-color: rgba(255, 255, 255, 0.3);
}
.day {
	position: relative;
	overflow: hidden;
}
.day .left {
	display: block;
	position: relative;
	float: left;
	width: 50%;
}
.day .right {
	display: block;
	position: relative;
	float: right;
	width: 50%;
}
.day .placeInfo {
	background-color: #fff;
}
.day .right.placeInfo {
	padding: 3.5em 3.5em 7em 5.65em;
}
.day .left.placeInfo {
	background-color: #fff;
	padding: 3.5em 5.65em 7em 3.5em;
}
.day .dayNum {
	display: block;
	top: 50%;
	width: 6em;
	height: 6em;
	line-height: 4.65em;
	font-size: 1.15em;
	font-weight: 600;
	border: 0.65em solid #fff;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	text-align: center;
	color: #fff;
	margin-top: -3.65em;
	-webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);
	box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);
}
.day .right .dayNum {
	left: -2.85em;
	right: auto;
}
.day .left .dayNum {
	right: -3.15em;
	left: auto;
}
.day span {
	display: block;
	margin-bottom: 1.35em;
}
.day ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.day ul li {
	display: block;
	float: left;
	width: 50%;
	position: relative;
	padding: 1.5em 1.5em 1.5em 3em;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.day ul li:first-child, .day ul li:nth-child(2) {
	border: none;
}
.day ul li i {
	position: absolute;
	left: 0;
	top: 1.55em;
	font-size: 1.65em;
}
.day ul li h6 {
	text-transform: capitalize;
	margin-bottom: 0.35em;
	font-size: 1.15em;
}
.day .delight {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	color: #fff;
}
.day .right .delight {
	padding: 1.65em 1.5em 1.65em 8.50em;
}
.day .left .delight {
	padding: 1.65em 1.5em 1.65em 6.15em;
}
.day .left .delight i {
	position: absolute;
	left: 2.15em;
	top: 0.95em;
	font-size: 1.65em;
}
.day .delight i {
	position: absolute;
	top: 0.95em;
	font-size: 1.65em;
}
.day .right .delight i {
	position: absolute;
	left: 3.35em;
	top: 0.95em;
	font-size: 1.65em;
}
.day .delight h6 {
	display: inline-block;
	color: #fff;
	margin: 0 0.5em 0 0;
}
.day .placeImg {
	position: absolute;
	top: 0;
	bottom: 0;
	height: 100%;
	overflow: hidden;
}
.day .placeImg img {
	height: 100%;
	width: auto;
}
.opt .day .delight {
	font-size: 1.15em;
}
.opt .day .left .delight {
	padding-left: 5.85em;
}
.opt .day .right .delight {
	padding-left: 7.65em;
}
.opt .day .delight i {
	color: #fff;
}
.opt .day .left .delight i {
	left: 1.85em;
}
.opt .day .right .delight i {
	left: 2.95em;
}
.opt .day .placeImg {
	opacity: 1;
}
.day:hover > .placeImg {
	opacity: 1;
}
.day .left.placeImg {
	left: 0;
}
.day .right.placeImg {
	right: 0;
}
.opt .owl-carousel .item {
	margin: 0;
}
/*.day .one {
	background-image:url(../images/places/01.jpg);
	background-attachment: scroll;
	background-size:100%;
	background-position:top left;
	background-repeat:no-repeat;
}*/
.line {
	position: absolute;
	top: 0;
	left: 50%;
	bottom: -3em;
	width: 1px;
	border-left: 1px dashed #fff;
	border-width: 3px;
	border-spacing: 0.85em;
	z-index: 98;
}
.tube {
	position: absolute;
	top: 18em;
	left: 50%;
	bottom: 1.65em;
	width: 4.65em;
	z-index: 98;
	margin-left: -2.15em;
	border-radius: 10em;
	-webkit-border-radius: 10em;
}
.tube .start {
	position: absolute;
	top: 1.5em;
	left: 0;
	right: 0;
	text-align: center;
	color: #fff;
	font-weight: 600;
}
.tube .end {
	position: absolute;
	bottom: 1.5em;
	left: 0;
	right: 0;
	text-align: center;
	color: #fff;
	font-weight: 600;
}
#car {
	display: block;
	background: url(../images/car.png) no-repeat 0 0;
	width: 39px;
	height: 75px;
	position: absolute;
	left: 50%;
	z-index: 99;
	margin-left: -18px;
}
#car.trigger {
	display: block;
	position: fixed;
	width: 39px;
	height: 75px;
	top: 50%;
	left: 50%;
	z-index: 999999999;
	margin-left: -18px;
}
#itinarary {
	position: relative;
}
/* +=+=+=+=+=+=+=+=+=+=+=+=+=+=+= \
----- GALLERY 
\ +=+=+=+=+=+=+=+=+=+=+=+=+=+=+= */
#galleryCarousel {
	display: block;
	margin-top: 1.35em;
}
#galleryCarousel .item, #upcoming .item {
	box-shadow: none;
	padding: 0;
	margin: 0;
	overflow: hidden;
}
#galleryCarousel .item img, #upcoming .item img {
	width: 100%;
	height: auto;
}
#galleryCarousel .item:hover img {
	opacity: 0.3;
}
.item .overlay {
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	position: absolute;
}
.item a.zoom {
	position: absolute;
	opacity: 0;
	left: 50%;
	top: 50%;
	width: 5em;
	height: 5em;
	margin: -2.5em 0 0 -2.5em;
	text-align: center;
	line-height: 5em;
	display: block;
	z-index: 999;
	padding: 1em;
}
.item a.zoom .svg {
	width: 3em;
	height: 3em;
	opacity: 1;
}
.item:hover a.zoom {
	opacity: 1;
}
#galleryCarousel .item a.zoom img {
	display: block;
	opacity: 1;
}
/* +=+=+=+=+=+=+=+=+=+=+=+=+=+=+= \
----- LINED UP  
\ +=+=+=+=+=+=+=+=+=+=+=+=+=+=+= */
#upcoming {
	display: block;
	position: relative;
	margin: 0.35em 0;
}
#upcoming .item {
	margin: 0.65em;
}
#upcoming .item:hover img {
	opacity: 0.7;
}
#upcoming .item .name {
	display: block;
	border: 1px solid rgba(255, 255, 255, 0.5);
	position: absolute;
	background-color: rgba(255, 255, 255, 0.6);
	top: 1em;
	left: 1em;
	right: 1em;
	bottom: 1em;
	padding: 0.35em 1.5em;
	z-index: 9;
}
#upcoming .item .name h1 {
	font-size: 1.85em;
	line-height: 1em;
}
#upcoming .item .name h1 span {
	display: block;
}
#upcoming .item .name a.link {
	display: block;
	right: 1.5em;
	bottom: 1.5em;
	top: auto;
	left: auto;
	width: 2.5em;
	height: 2.5em;
	line-height: 2.5em;
	font-size: 1.35em;
	text-align: center;
	color: #fff;
}
#upcoming .item .name a.link i {
	margin: 0;
}
#upcoming .item:hover .name {
	border-color: rgba(0, 0, 0, 0.1);
	background-color: rgba(0, 0, 0, 0.1);
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
#upcoming .item:hover .name h1, #upcoming .item:hover .name h4, #upcoming .item:hover .name h4 span {
	color: #fff;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
#upcoming .item:hover .name h1 span {
	color: rgba(255, 255, 255, 0.9);
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
#upcoming .item h4 {
	position: absolute;
	right: 1.15em;
	bottom: 0.35em;
	top: auto;
	z-index: 9;
	text-align: right;
}
#upcoming .item h4 span {
	display: block;
}
#upcoming.owl-theme .owl-controls .owl-buttons div .svg path {
	fill: #fff;
}
/* ================================= */
/* ------ TESTIMONIAL ------ */
/* ================================= */
#quotes {
	position: relative;
}
#testimonial {
	position: relative;
	min-height: 24.65em;
}
#testimonial .item {
	margin: 0 auto;
}
#testimonial .item img {
	position: relative;
	border: none;
	margin: 0 auto 1.5em;
}
#testimonial span {
	font-size: 1.35em;
	font-weight: normal;
	display: block;
	margin-bottom: 1.15em;
}
#testimonial p {
	font-size: 1.30em;
	font-style: italic;
	font-weight: 300;
	line-height: 1.65em;
	width: 80%;
	margin: 0 auto 1.85em;
}
#testimonial h4 {
	margin-bottom: 0.15em;
}
.carousel-control.left, .carousel-control.right {
	background: none;
	width: auto;
	top: 50%;
	bottom: auto;
	text-shadow: none;
	margin-top: -2.35em;
}
.carousel-control.right {
	right: 0;
}
.carousel-control.left {
	left: 0;
}
.carousel-control img {
	width: 1.85em;
	height: auto;
}
#testimonial .heading {
	position: relative;
	display: inline-block;
	margin: 0 auto;
	width: auto;
	padding: 0.15em 0;
	margin: 1.5em 0;
}
#testimonial .heading::before {
	display: block;
	content: '\f10d';
	font-family: 'FontAwesome';
	font-size: 1.5em;
	position: absolute;
	top: 0;
	left: -1.5em;
	width: 1em;
	z-index: 9;
}
#testimonial .heading::after {
	display: block;
	content: '\f10e';
	font-family: 'FontAwesome';
	font-size: 1.5em;
	position: absolute;
	top: 0;
	right: -1.5em;
	width: 1em;
	z-index: 9;
}
#testimonial .author {
	display: inline-block;
	padding: 1.5em 3em 0;
	border-width: 3px;
	border-style: solid none none none;
	border-color: rgba(0, 0, 0, 0.1);
}
#testimonial .author img {
	display: block;
	float: left;
	margin-right: 1.5em;
}
#testimonial .author h5 {
	display: block;
	float: left;
	text-align: left;
}
#testimonial .author h5 small {
	font-size: 0.85em;
	text-transform: capitalize;
}
.BGprime h1, .BGprime h1 span, .BGprime h1 small {
	color: #fff;
}
.additional-info a {
	display: block;
	margin-top: 0.85em;
}
.additional-info span {
	display: block;
	position: relative;
	padding: 0.55em 0 0.55em 4.65em;
	font-size: 1.15em;
	vertical-align: middle;
}
.additional-info span i, .round {
	top: 0.65em;
	right: auto;
	bottom: auto;
	left: 0;
	position: absolute;
	width: 2.65em;
	height: 2.65em;
	line-height: 2.65em;
	text-align: center;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	font-size: 1.30em;
	color: #fff;
}
.additional-info {
	margin-top: 2.65em;
	padding-top: 2.65em;
	padding-bottom: 1.15em;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.additional-info strong {
	font-size: 1.65em;
}
.additional-info strong sup {
	font-size: 14px;
	vertical-align: middle;
}
/* +=+=+=+=+=+=+=+=+=+=+=+=+=+=+= \
----- TIPS 
\ +=+=+=+=+=+=+=+=+=+=+=+=+=+=+= */
.Imptips {
	padding-top: 0;
}
.tips {
	position: relative;
	display: block;
	padding: 1.50em 1.5em 1.5em 4.85em;
}
.tips .round {
	top: 1.85em;
}
.tips h5 {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	padding-bottom: 1em;
	margin-bottom: 0.85em;
}
/* +=+=+=+=+=+=+=+=+=+=+=+=+=+=+= \
----- FOOTER & COYRIGHT 
\ +=+=+=+=+=+=+=+=+=+=+=+=+=+=+= */
#contact {
	position: relative;
	background-image: url(../images/contact.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	padding-bottom: 0;
}
#contact .form-control, .subscribeBox .form-control {
	border: 1px solid #fff;
	border-radius: 0;
	height: 4.15em;
	margin-bottom: 0.85em;
	padding: 1em 1.5em;
	font-size: 1.15em;
	-webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}
.subscribeBox .form-control {
	height: 3.35em;
}
.subscribeBox h1 {
	margin-top: 0;
}
#contact .form-control:focus {
	border-width: 1px;
	border-style: solid;
}
#contact textarea.form-control {
	height: 14em;
}
#contact_form .form-row div {
	position: relative;
}
footer {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	-webkit-box-shadow: -1px 0 1px 1px rgba(255, 255, 255, 0.2);
	box-shadow: -1px 0 1px 1px rgba(255, 255, 255, 0.2);
	padding: 1.5em 0;
}
footer p {
	color: rgba(255, 255, 255, 0.5);
	margin-bottom: 0;
}
footer a {
	color: #fff;
	margin: 0 0.35em;
}
ul.social li {
	margin: 0 2px;
	padding: 0;
}
ul.social li a {
	display: block;
	width: 2.35em;
	height: 2.35em;
	font-size: 1.35em;
	color: #fff;
	line-height: 2.35em;
	text-align: center;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	margin: 0.55em 0;
	opacity: 0.30;
}
ul.social li a:hover {
	opacity: 1;
}
ul.social li a i {
	margin: 0;
}
#contact .gradient.dark {
	padding: 5em 0 23em;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+25,000000+50,000000+70,000000+100&0.8+0,0.5+25,0.15+50,0+70,0+100 */
	background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.5) 25%, rgba(0, 0, 0, 0.15) 50%, transparent 70%, transparent 100%);
	/* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.5) 25%, rgba(0, 0, 0, 0.15) 50%, transparent 70%, transparent 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.5) 25%, rgba(0, 0, 0, 0.15) 50%, transparent 70%, transparent 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc000000', endColorstr='#00000000', GradientType=0 );
/* IE6-9 */ }
#contact .gradient.dark h1, #contact .gradient.dark h1 small {
	color: #fff;
}
#contact .gradient.light {
	padding: 5em 0 23em;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+25,ffffff+50,ffffff+70,ffffff+100&0.9+0,0.6+25,0.3+50,0+70,0+100 */
	background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.6) 25%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 0) 100%);
	/* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.6) 25%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 0) 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.6) 25%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6ffffff', endColorstr='#00ffffff', GradientType=0 );
/* IE6-9 */ }

/* +=+=+=+=+=+=+=+=+=+=+=+=+=+=+= \
----- FONT STYLING FOR CHROME AND SAFARI 
\ +=+=+=+=+=+=+=+=+=+=+=+=+=+=+= */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
/* Safari-Opera specific declarations here  */
.info-box.option .counter .date {
	padding: 1.1em 1em 1.35em 1em !important;
}
}
/* +=+=+=+=+=+=+=+=+=+=+=+=+=+=+= \
----- OPERA HACK 
\ +=+=+=+=+=+=+=+=+=+=+=+=+=+=+= */
doesnotexist:-o-prefocus, #contact input[type="submit"] {
 font-family: "Roboto", Arial !important;
}
 doesnotexist:-o-prefocus, span.error:after {
 display: none;
}
 doesnotexist:-o-prefocus, span.error {
 bottom: 0;
}
 doesnotexist:-o-prefocus, h5, doesnotexist:-o-prefocus, h6 {
 font-weight: 400 !important;
}
 doesnotexist:-o-prefocus, .slides-container img, doesnotexist:-o-prefocus, #image-slider.carousel .item img {
 -webkit-backface-visibility: hidden;
  /*CSS transitions*/
  -o-transition-property: none !important;
 -moz-transition-property: none !important;
 -ms-transition-property: none !important;
 -webkit-transition-property: none !important;
 transition-property: none !important;
  /*CSS transforms*/
  -o-transform: none !important;
 -moz-transform: none !important;
 -ms-transform: none !important;
 -webkit-transform: none !important;
 transform: none !important;
  /*CSS animations*/
  -webkit-animation: none !important;
 -moz-animation: none !important;
 -o-animation: none !important;
 -ms-animation: none !important;
 animation: none !important;
}
 doesnotexist:-o-prefocus, .slides-container li, doesnotexist:-o-prefocus, #image-slider.carousel .item {
 -webkit-animation-delay: 1s !important;
 -moz-animation-delay: 1s !important;
 -o-animation-delay: 1s !important;
 -ms-animation-delay: 1s !important;
 animation-delay: 1s !important;
}

/* +=+=+=+=+=+=+=+=+=+=+=+=+=+=+= \
----- IE9+ HACK 
\ +=+=+=+=+=+=+=+=+=+=+=+=+=+=+= */
@media screen and (min-width: 0\0) {
 .carousel-control.left, .carousel-control.right {
 margin-top: -3em;
}
}
/* +=+=+=+=+=+=+=+=+=+=+=+=+=+=+= \
----- TRANSITION CSS 
\ +=+=+=+=+=+=+=+=+=+=+=+=+=+=+= */
a, .owl-theme .owl-controls .owl-buttons div, #upcoming .item .overlay, #upcoming .item .name, ul.social li a, .day .placeImg, .carousel-control, #home.affix, .btn {
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}
#gallery .item:hover img, ul.social li a:hover {
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}
.item a.zoom {
	-moz-transform: scale(0);
	-webkit-transform: scale(0);
	-o-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
}
.item:hover a.zoom {
	-moz-transform: scale(1);
	-webkit-transform: scale(1);
	/*-o-transform: scale(1);*/
	-ms-transform: scale(1);
	transform: scale(1);
}
.item img, .bgcolor, .navbar-default .navbar-nav > li:hover > a {
	-webkit-transition: all 0.15s ease-in-out;
	-moz-transition: all 0.15s ease-in-out;
	-ms-transition: all 0.15s ease-in-out;
	-o-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;
}
/* SLIDER ANIMATION */
.slides-container img {
	-webkit-backface-visibility: hidden;
	-webkit-animation: imageAnimation 15s linear infinite 0s;
	-moz-animation: imageAnimation 15s linear infinite 0s;
	/*-o-animation: imageAnimation 15s linear infinite 0s;*/
	-ms-animation: imageAnimation 15s linear infinite 0s;
	animation: imageAnimation 15s linear infinite 0s;
}
.slides-container li, #image-slider.carousel .item {
	-webkit-animation-delay: 6s;
	-moz-animation-delay: 6s;
	/*-o-animation-delay: 6s;*/
	-ms-animation-delay: 6s;
	animation-delay: 6s;
}
#image-slider.carousel .item img {
	-webkit-backface-visibility: hidden;
	-webkit-animation: imageAnimation1 15s linear infinite 0s;
	-moz-animation: imageAnimation1 15s linear infinite 0s;
	/*-o-animation: imageAnimation1 15s linear infinite 0s;*/
	-ms-animation: imageAnimation1 15s linear infinite 0s;
	animation: imageAnimation1 15s linear infinite 0s;
}
 @-webkit-keyframes imageAnimation {
 0% {
 opacity: 0;
 -webkit-animation-timing-function: ease-in-out;
}
 50% {
 opacity: 1;
 -webkit-transform: scale(1.15);
}
 100% {
 opacity: 0;
 -webkit-transform: scale(1);
 -webkit-animation-timing-function: ease-in-out;
}
}
@-moz-keyframes imageAnimation {
 0% {
 opacity: 0;
 -moz-animation-timing-function: ease-in-out;
}
 50% {
 opacity: 1;
 -moz-transform: scale(1.15);
}
 100% {
 opacity: 0;
 -moz-transform: scale(1);
 -moz-animation-timing-function: ease-in-out;
}
}
/*@-o-keyframes imageAnimation { 
	0% {
	    opacity: 0;
	    -o-animation-timing-function: ease-in-out;
	}
	50% {
	    opacity: 1;
	    -o-transform: scale(1.15);
	}
	100% {
	    opacity: 0;
	    -o-transform: scale(1);
	    -o-animation-timing-function: ease-in-out;
	}
}*/
@-ms-keyframes imageAnimation {
 0% {
 opacity: 0;
 -ms-animation-timing-function: ease-in-out;
}
 50% {
 opacity: 1;
 -ms-transform: scale(1.15);
}
 100% {
 opacity: 0;
 -ms-transform: scale(1);
 -ms-animation-timing-function: ease-in-out;
}
}
@keyframes imageAnimation {
 0% {
 opacity: 0;
 animation-timing-function: ease-in-out;
}
 50% {
 opacity: 1;
 transform: scale(1.15);
}
 100% {
 opacity: 0;
 transform: scale(1);
 animation-timing-function: ease-in-out;
}
}
@-webkit-keyframes imageAnimation1 {
 0% {
 -webkit-animation-timing-function: ease-in-out;
}
 50% {
 -webkit-transform: scale(1.15);
}
 100% {
 opacity: 1;
 -webkit-transform: scale(1);
 -webkit-animation-timing-function: ease-in-out;
}
}
@-moz-keyframes imageAnimation1 {
 0% {
 -moz-animation-timing-function: ease-in-out;
}
 50% {
 -moz-transform: scale(1.15);
}
 100% {
 -moz-transform: scale(1);
 -moz-animation-timing-function: ease-in-out;
}
}
/*@-o-keyframes imageAnimation1 { 
	0% {
	    -o-animation-timing-function: ease-in-out;
	}
	50% {
	    -o-transform: scale(1.15);
	}
	100% {
	    -o-transform: scale(1);
	    -o-animation-timing-function: ease-in-out;
	}
}*/
@-ms-keyframes imageAnimation1 {
 0% {
 -ms-animation-timing-function: ease-in-out;
}
 50% {
 -ms-transform: scale(1.15);
}
 100% {
 -ms-transform: scale(1);
 -ms-animation-timing-function: ease-in-out;
}
}
@keyframes imageAnimation1 {
 0% {
 animation-timing-function: ease-in-out;
}
 50% {
 transform: scale(1.15);
}
 100% {
 transform: scale(1);
 animation-timing-function: ease-in-out;
}
}
/* +=+=+=+=+=+=+=+=+=+=+=+=+=+=+= \
----- RESPONSIVE CSS 
\ +=+=+=+=+=+=+=+=+=+=+=+=+=+=+= */
@media only screen and (min-width: 1601px) {
.day .placeImg img {
	width: 100%;
	height: auto;
}
}
@media only screen and (min-width: 1401px) {
.tube {
	position: absolute;
	top: 23em;
}
}
@media screen and (min-width: 1025px) and (orientation: landscape) {
.bx-wrapper .bx-next {
	right: -1.5em;
}
.bx-wrapper .bx-prev {
	left: -1.5em;
}
#slides.opt .info-box {
	bottom: 0.95em;
}
#image-slider a.carousel-control {
	margin-top: -2.35em;
}
#image-slider a.carousel-control .svg {
	width: 1em;
}
#testimonial .svg {
	width: 2.35em;
	height: auto;
}
/* OPTION COUNTER */
.info-box.option {
	margin-top: -4.43em;
	padding-bottom: 3.85em;
}
.info-box.option .counter .date {
	width: 30%;
	font-size: 1.65em;
	padding: 1em 1em 1.35em 1em;
}
.info-box.option .counter .date strong {
	display: inline-block;
	font-size: 1em;
}
.info-box.option .counter #timer {
	width: 70%;
	padding: 1.85em 0;
	height: 129px;
}
.info-box.option .counter #timer div {
	font-size: 1.35em;
	font-weight: 300;
	padding: 0;
}
.info-box.option .counter #timer div::before {
	top: 30%;
}
.info-box.option .counter #timer div span {
	font-weight: 700;
	line-height: 1em;
}
#image-slider {
	margin-top: 75px;
}
.day .placeImg {
	opacity: 0.7;
}
}
@media only screen and (min-width: 1201px) and (max-width: 1400px) {
html, body, div, p, table, tr, td, th, tbody, tfoot, ul, li, ol, dl, dd, dt, fieldset, cite, input, select, textarea, button, a, section, article, aside, header, footer, nav {
	font-size: 13px;
}
h1 {
	font-size: 4em;
}
h2 {
	font-size: 2em;
}
h3 {
	font-size: 1.75em;
}
h4 {
	font-size: 1.55em;
}
h5 {
	font-size: 1.30em;
}
h6 {
	font-size: 1.15em;
}
.page-block {
	position: relative;
	padding: 4.85em 0;
}
.page-block-small {
	position: relative;
	padding: 2.85em 0;
}
.page-block-large {
	padding: 6.5em 0;
}
.page-block-full {
	padding: 3.65em;
}
.navbar-default .navbar-nav > li > a {
	line-height: 6em;
}
.counter {
	min-height: 7.75em;
}
.counter h4 {
	margin: 0.15em;
}
.info-box.option .counter .date {
	padding-bottom: 0.65em;
}
.info-box.option .counter #timer {
	height: 115px;
}
.subscribe .right {
	height: 7.65em;
}
}
/* iPads (landscape) ----------- */
@media only screen and (min-width: 990px) and (max-width: 1200px) and (orientation: landscape) {
html, body, div, p, table, tr, td, th, tbody, tfoot, ul, li, ol, dl, dd, dt, fieldset, cite, input, select, textarea, button, a, section, article, aside, header, footer, nav {
	font-size: 13px;
}
h1 {
	font-size: 3.85em;
}
h2 {
	font-size: 1.85em;
}
.page-block {
	position: relative;
	padding: 4.85em 0;
}
.page-block-small {
	position: relative;
	padding: 2.85em 0;
}
.page-block-large {
	padding: 6.5em 0;
}
.page-block-full {
	padding: 3.65em;
}
.navbar-default .navbar-nav > li > a {
	line-height: 6.5em;
}
.counter h4 {
	margin: 0.30em;
}
}
/* iPads (portrait and landscape) ----------- */
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
header .container > div {
	width: 100%;
}
.navbar-default .navbar-nav > li > a {
	line-height: 6em;
}
.copyright .container > div {
	margin: 1.5em 0;
	text-align: center;
}
.info-box {
	bottom: 17%;
}
.info-box.option .container {
	width: 100%;
}
.info-box.option .counter #timer {
	height: 7.15em;
}
.info-box.option {
	margin-top: 0;
	padding-bottom: 3.65em;
}
.info-box.option .counter #timer {
	padding-top: 0.65em;
}
.additional-info .container > div {
	padding: 1em;
}
#image-slider {
	margin-top: 11em !important;
}
#image-slider .carousel-caption .container {
	width: 100%;
}
.subscribe .right {
	height: 7.65em;
}
}
/* iPads (portrait and landscape) ----------- */
@media screen and (min-width: 768px) and (max-width: 1024px) {
html, body, div, p, table, tr, td, th, tbody, tfoot, ul, li, ol, dl, dd, dt, fieldset, cite, input, select, textarea, button, a, section, article, aside, header, footer, nav {
	font-size: 14px;
}
a[href^=tel] {
	color: inherit;
	text-decoration: none;
	line-height: 0;
}
#travelInfo,  #contact {
	background-attachment: scroll;
	background-size: 300%;
}
#image-slider .carousel-caption h3 {
	letter-spacing: 0;
	text-transform: capitalize;
}
.navbar-default .navbar-nav > li > a {
	line-height: 5.65em;
}
}
/* iPads (portrait and landscape) ----------- */
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
.counter .date {
	font-size: 0.85em;
}
#slides.opt .info-box {
	bottom: 0.95em;
}
.info-box .container {
	padding: 0;
}
.counter {
	height: 7em;
	overflow: hidden;
}
.counter .date {
	height: 9em;
}
.info-box.option .counter .date h4 {
	margin: 0;
}
#image-slider {
	margin-top: 5.65em;
}
#image-slider .carousel-caption {
	width: 65%;
	margin: 0 auto;
}
/* OPTION COUNTER */
.info-box.option {
	margin-top: -3.65em;
	padding-bottom: 3.85em;
}
.info-box.option .counter {
	height: auto;
}
.info-box.option .counter .date {
	width: 30%;
	height: auto;
	font-size: 1.35em;
	padding: 1em 1em 1.35em 1em;
}
.info-box.option .counter .date strong {
	display: inline-block;
	font-size: 1em;
}
.info-box.option .counter #timer {
	display: block;
	width: 70%;
	padding: 1em 0 1em;
	height: auto;
}
.info-box.option .counter #timer div {
	font-size: 1.35em;
	font-weight: 300;
	padding: 0;
}
.info-box.option .counter #timer div::before {
	top: 30%;
}
.info-box.option .counter #timer div span {
	font-weight: 700;
	line-height: 1em;
}
.additional-info strong {
	font-size: 1.35em;
}
.owl-carousel .item .item-info .departure, .owl-carousel .item .item-info .arrival {
	padding: 1.35em;
}
.item h5 {
	font-size: 1.15em;
}
.owl-carousel .item .item-header i {
	height: 2.15em;
	width: 2.15em;
}
.day ul li {
	line-height: 1.65em;
}
#upcoming .item .name h1 {
	text-transform: capitalize;
}
.itinarary {
	padding-top: 0;
	margin-top: 1.65em;
}
#itinarary2 .day .placeInfo {
	padding: 6em 3em 7em;
}
.day .right, .day .left {
	float: none;
	width: 100%;
}
.day .placeImg {
	top: 0;
	height: auto;
	bottom: auto;
	overflow: hidden;
}
.day .placeImg img {
	width: 100%;
	height: auto;
}
.day .placeInfo {
	margin-top: 615px;
}
.day .right.placeInfo, .day .left.placeInfo {
	padding-left: 9em;
	padding-right: 3.5em;
}
.day .right .delight, .day .left .delight {
	padding-left: 12.15em;
}
.day .right .delight i, .day .left .delight i {
	left: 5.55em;
}
.tube {
	left: 0;
	top: 8em;
	margin-left: 0;
}
.line, #car {
	left: 2.15em;
}
.day .dayNum {
	top: 0;
	left: 50% !important;
	margin-left: -2.65em;
	margin-top: -3em;
}
}
@media only screen and (max-width: 996px) {
h1 {
	font-size: 3.35em;
}
h2 {
	font-size: 1.85em;
}
h3 {
	font-size: 1.50em;
}
.page-block {
	position: relative;
	padding: 3.5em 0;
}
.page-block-small {
	position: relative;
	padding: 2.35em 0;
}
.page-block-large {
	padding: 4.85em 0;
}
.page-block-full {
	padding: 3.65em;
}
#slides header {
	bottom: auto;
}
header .container {
	width: 100%;
}
.navbar-nav {
	text-align: center;
}
header .logo a img {
	margin: 0 auto;
	display: block;
}
#image-slider .carousel-caption {
	width: 100%;
	padding: 0;
	maergin: 0;
	position: relative;
}
#image-slider .carousel-caption .container {
	padding: 0;
}
#image-slider .carousel-caption h3 {
	font-size: 1.5em;
	position: relative;
	width: 100%;
	margin: 0;
	text-align: center;
}
#image-slider .carousel-caption h6 {
	display: none;
}
#image-slider {
	margin-top: 7.7em;
}
.info-box .container > div {
	padding: 0;
	margin: 1em 0;
}
.info-box.option {
	position: relative;
	margin: 0;
}
#timer div {
	padding-top: 1.15em;
}
.subscribe form input.btn {
	width: 10em;
}
.subscribe .btn-box {
	font-size: 1.15em;
	padding: 1.55em 1.65em 1em;
}
.itinarary {
	padding-top: 0;
	margin-top: 1.35em;
}
.opt #itinarary2 .day .placeInfo {
	padding: 6em 3em 7em;
}
.opt #itinarary2 .day .delight {
	padding: 1em 1.35em;
	text-align: center;
}
.opt #itinarary2 .day .delight i {
	position: relative;
	left: auto;
	display: inline-block;
	top: 0;
	vertical-align: middle;
}
.day .right, .day .left {
	float: none;
	width: 100%;
}
.day .placeImg {
	top: 0;
	height: auto;
	bottom: auto;
}
.day .placeInfo {
	margin-top: 486px;
}
.day .right.placeInfo, .day .left.placeInfo {
	padding-left: 9em;
	padding-right: 3.5em;
}
.day .right .delight, .day .left .delight {
	padding-left: 12.15em;
}
.day .right .delight i, .day .left .delight i {
	left: 5.55em;
}
.tube {
	left: 0;
	top: 8em;
	margin-left: 0;
}
.line, #car {
	left: 2.15em;
}
.day .dayNum {
	top: 0;
	left: 50% !important;
	margin-left: -2.65em;
	margin-top: -3em;
}
footer .container, footer .text-right {
	text-align: center;
}
footer .text-right {
	margin-top: 1.5em;
}
}
@media only screen and (min-width: 768px) {
.subscribe form .btn {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	margin: 0;
	z-index: 999;
	display: block;
	white-space: normal;
}
#success {
	display: block;
	margin: 0 auto;
	width: 55%;
	padding: 1.65em;
}
}
/* Desktops, Large Screen and laptops ----------- */
@media only screen and (max-width: 767px) {
html, body, div, p, table, tr, td, th, tbody, tfoot, ul, li, ol, dl, dd, dt, fieldset, cite, input, select, textarea, button, a, section, article, aside, header, footer, nav {
	font-size: 13px;
}
.row {
	margin: 0;
}
#home .container, #home .container .row > div {
	padding: 0;
	margin: 0;
}
h1 small {
	font-size: 0.55em;
	text-transform: capitalize;
	font-weight: normal;
}
h5 small {
	font-size: 0.75em;
}
.counter {
	height: auto;
}
.counter .date {
	position: relative;
	width: 100%;
}
.counter .date strong {
	display: inline-block;
	font-size: 1em;
}
.counter .date h4 {
	font-size: 1.65em;
}
#timer {
	width: 100%;
	padding: 0 0 1em;
}
#slides.opt #timer,  .mobile {
	background-color: rgba(0, 0, 0, 0.03);
}
.info-box .container > .subscribe {
	display: none;
}
#hidCon {
	padding: 3em 0;
	margin: 0;
}
#hidCon .BGlight {
	background-color: transparent;
}
#hidCon h4 {
	color: #fff;
}
.subscribe {
	padding: 0;
}
.subscribe .right,  .subscribe .left {
	float: none;
	width: 100%;
	padding: 0;
}
.subscribe .right {
	height: auto;
}
.subscribe .submit::before {
	content: '';
}
.subscribe form .input,  .subscribe form .input.full {
	width: 100%;
	float: none;
	margin: 0.85em 0;
}
.subscribe > div {
	padding: 1.65em;
}
.subscribe form input.btn {
	color: #fff;
	text-align: center;
}
.navbar-default .navbar-toggle {
	margin-top: -3.65em;
	margin-right: 1.5em;
}
.navbar-collapse {
	border: none;
}
.logo img {
	margin-left: 1.5em;
}
.navbar-nav li {
	display: block;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.navbar {
	width: 100%;
}
.navbar-nav, .navbar-collapse {
	margin: 0;
	padding: 0;
	margin-top: 1.35em;
}
.navbar-default .navbar-nav > li > a {
	text-align: left;
	line-height: 3.5em;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	padding: 0 1.85em;
}
.tube {
	width: 2.85em;
}
.tube .start,  .tube .end {
	font-size: 10px;
}
#car {
	left: 1.35em;
}
.line {
	left: 1.35em;
}
.day .right.placeInfo, .day .left.placeInfo {
	padding-left: 4.43em;
	padding-right: 1.65em;
}
.day .right.placeImg, .day .left.placeImg {
	z-index: 9;
}
.day .right .delight, .day .left .delight {
	padding-left: 8em;
}
.day .right .delight i, .day .left .delight i {
	left: 2.65em;
}
.info-box {
	bottom: 9em;
}
.owl-carousel .item .item-info .img-responsive {
	margin: 1em auto;
}
.owl-carousel .item .item-info .departure, .owl-carousel .item .item-info .arrival {
	padding: 1.35em;
}
#testimonial .author {
	display: block;
	text-align: center;
}
#testimonial .author img, #testimonial .author h5 {
	float: none;
	margin: 0.65em auto;
	text-align: center;
}
.subscribe > form {
	padding: 1.65em 1.85em 1.65em 1.65em;
}
.subscribe form .btn {
	position: relative;
}
.additional-info .container {
	padding: 0;
}
}
@media only screen and (min-width: 320px) and (max-width: 600px) and (orientation: portrait) {
h1 {
	font-size: 2.85em;
}
#image-slider .carousel-caption h3 {
	font-size: 1.1em;
}
#image-slider {
	margin-top: 7em;
}
/*.day .right.placeImg, .day .left.placeImg {
  	height: 28em;
  }*/
.day .placeInfo {
	margin-top: 28em;
}
.day .placeImg img {
	width: 100%;
	height: auto;
}
}
@media only screen and (min-width: 600px) and (max-width: 699px) {
#owl-demo .item {
	margin: 1.85em;
}
}
/* iPhone 4 & 5 (portrait & landscape)----------- */
@media only screen and (min-width: 320px) and (max-width: 800px) {
header {
	top: 0;
	bottom: auto;
}
#slides {
	min-height: 500px !important;
}
.info-box {
	bottom: 0;
}
.info-box .container {
	padding: 0;
}
.info-box .container > div.counter {
	margin: 0;
}
}
@media only screen and (min-width: 370px) and (max-width: 480px) {
.day ul li {
	width: 100%;
	padding: 0 1em 1em 3em;
	border-top: 1px solid rgba(0, 0, 0, 0.1) !important;
}
.day ul li:first-child {
	border: none !important;
}
.day ul li i {
	top: 0.65em;
}
.subscribe form input, .subscribe input[type="email"] {
	float: none;
	width: 100%;
}
.additional-info .container {
	padding: 0;
}
.owl-carousel .item {
	margin: 0;
}
.day .right.placeInfo, .day .left.placeInfo {
	margin-top: 23em;
	padding-top: 7em;
}
}
@media only screen and (min-width: 320px) and (max-width: 369px) {
h1 {
	font-size: 2.35em;
}
.day ul li {
	width: 100%;
	padding: 0 1em 1em 3em;
	border-top: 1px solid rgba(0, 0, 0, 0.1) !important;
}
.day ul li:first-child {
	border: none !important;
}
.day ul li i {
	top: 0.65em;
}
.day .right.placeInfo, .day .left.placeInfo {
	margin-top: 17em;
	padding-top: 7em;
}
.subscribe form input, .subscribe input[type="email"] {
	float: none;
	width: 100%;
}
.owl-carousel .item, #upcoming .item {
	margin: 0;
}
#testimonial p {
	font-size: 1em;
}
.carousel-control.left, .carousel-control.right {
	margin-top: -3em;
}
#quotes .container {
	padding: 0;
	text-align: center;
}
}
@media only screen and (max-width: 320px) {
.day .right.placeInfo, .day .left.placeInfo {
	margin-top: 15em;
}
}
@media only screen and (min-width: 768px) and (max-width: 960px) and (orientation: landscape) {
header {
	top: 0;
	bottom: auto;
}
#slides {
	min-height: 500px !important;
}
.info-box {
	bottom: 0;
}
.info-box .container {
	width: 100%;
}
.info-box .container > .subscribe {
	display: none;
}
.mobile {
	display: block !important;
}
.info-box .container > div.counter {
	margin: 0;
}
}
